<!DOCTYPE html>

<html>

<head>

    <title>
        {{ property.property_name }} - Goinn
    </title>

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1"
    >

</head>


<body>


<h1>
    {{ property.property_name }}
</h1>


<p>
    <strong>Location:</strong>
    {{ property.location }}
</p>


<p>
    <strong>Address:</strong>
    {{ property.property_address }}
</p>


<h2>
    Pricing
</h2>


<ul>

    <li>
        1 Guest:
        ₹{{ property.price_1_guest }}
    </li>

    {% if property.price_2_guest %}

    <li>
        2 Guests:
        ₹{{ property.price_2_guest }}
    </li>

    {% endif %}


    {% if property.price_3_guest %}

    <li>
        3 Guests:
        ₹{{ property.price_3_guest }}
    </li>

    {% endif %}


    {% if property.price_4_guest %}

    <li>
        4 Guests:
        ₹{{ property.price_4_guest }}
    </li>

    {% endif %}


    {% if property.price_5_guest %}

    <li>
        5 Guests:
        ₹{{ property.price_5_guest }}
    </li>

    {% endif %}

</ul>


<p>

    Maximum Guests:
    {{ property.max_guests }}

</p>


<hr>


<h2>
    Interested in this property?
</h2>


<a
    href="{{ url_for(
        'book_property',
        property_id=property.id
    ) }}"
>

    <button>
        Select Dates & Guests
    </button>

</a>


<br>
<br>


<a href="/">
    ← Back to Home
</a>


</body>

</html>
